{% extends "admin/base_site.html" %}
{% load admin_static %}{% load i18n %}

{% block extrastyle %}
<style>
.left{
  background-color:red;
  height: 100%;
  display: block;
  float: left;
  width:30%;
}
.right{
  background-color:blue;
  height: 100%;
  display: block;
  float: right;
  width:70%;
}
#container{
  height: 100%;
}
#content{
  height: 100%;
}
html{
  height: 100%;
}
body{
  height: 100%;
}
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block content %}
    <div class="right">
        <ul>
            {% for line in logs %}
                <li>{{ line }}</li>
            {% endfor %}
        </ul>
        {% if not last %}
            <a href="{% url 'log-viewer:logfile-view' current_file next_page %}"> More </a>
        {% endif %}
    </div>

    <div class="left">
        <ul>
            {% for files in log_files %}
                {% for file_name, file_url  in files.items %}
                    <li><a href="{% url 'log-viewer:logfile-view' file_name 1 %}">{{ file_name }}</a></li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endblock%}
