{% extends "admin/base_site.html" %}
{% load admin_static %}{% load i18n %}

{% block extrastyle %}
<style>
  /* Styles go here */
  .django__log__viewer .files a{
    display: inline-block;
    background-color: silver;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin: 20px 20px 20px 0;
    padding:15px 15px 15px 15px;
    text-align:center;
  }

  .django__log__viewer .files a:hover{
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .django__log__viewer pre {
    white-space: pre-wrap;
    word-break: keep-all
  }
  .django__log__viewer .files a.selected {
      background: #282d46;
      color: white;
  }
</style>
    {% if custom_style_file %}
        <link type="text/css" href="{{ custom_style_file }}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block content %}
<div class="django__log__viewer">
    <div class="left">
        {% if custom_file_list_title %}
            {% if is_django_jet %}
                <div class="dashboard-item-header ui-sortable-handle">
                    <span class="dashboard-item-header-drag icon-grid"></span>
                    <span class="dashboard-item-header-title">
                        {{ custom_file_list_title }}
                    </span>
                </div>
            {% else %}
                <b>{{ custom_file_list_title }}</b>
            {% endif %}
        {% endif %}
        <div class="files">
            {% for files in log_files %}
                {% for file_name, xtra in files.items %}
                    <a class="{% if request.resolver_match.kwargs.file_name == file_name %}selected{% endif %}" href="{% url 'log-viewer:logfile-view' file_name 1 %}">{{ xtra.display }}</a>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="right">
        <ul>
            {% for line in logs %}
                <li>
                    <pre>{{ line }}</pre>
                </li>
            {% endfor %}
        </ul>
        {% if not last %}
            <a href="{% url 'log-viewer:logfile-view' request.resolver_match.kwargs.file_name next_page %}"> More </a>
        {% endif %}
    </div>
</div>
{% endblock%}
